@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@media(min-width: 1440px){

body{
    background-color: var(--OffBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    color: var(--White);
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.main{
    margin-top: 15vh;
    background-color: var(--DarkGrey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;           /* Full viewport height */
    width: 400px;            /* Full viewport width */
    justify-content: space-evenly;
    border-radius: 30px;
}

.image{
    border-radius: 600px;
    width: 22.5%;
}

.texts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.texts .name{
    font-weight: 700;
    font-size: 24px;

}
.texts .state{
    color: var(--Green);
    font-weight: 600;
}

.link-container a{
    background-color: var(--Grey);
    display: block;
    margin-bottom: 10px; 
    text-decoration: none; 
    color: var(--White); 
    border-radius: 10px;
    width: 300px;
    height: 50px;
    text-align: center;
    padding-top: 16px;
    font-weight: 700;
}
}